:root {
  --primary-color: #eed6f5;
  --secondary-color: #dcaed3;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 770px) {
  .app-info {
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
  }

  .presentation {
    font-size: 35px;
  }
  .information-front {
    font-size: 19px;
  }
}

nav {
  background-color: rgb(244, 227, 249);
}
body {
  background-color: #f2eff1;
}

h2 {
  margin-top: 20px;
}

img {
  box-shadow: -5px 10px 23px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

button {
  transition: all 200ms ease-in-out;
}

button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
}

#contact {
  margin-bottom: 30px;
  margin-top: 30px;
}

.contact-me {
  font-size: 25px !important;
}

.navigation-links {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 25px;
}

.primary-link {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: black;
  padding: 10px;
  border-radius: 8px;
}

.secondary-link {
  text-decoration: none;
  background-color: var(--primary-color);
  color: black;
  padding: 10px;
  border-radius: 8px;
}

.navigation-links a {
  margin: 20px;
}

.presentation {
  margin-top: 50px;
}

.information-front {
  color: gray;
}

.launch-botton {
  background-color: var(--primary-color);
  border: none;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.project-image {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.img-about {
  margin-top: 20px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: #da97ce;
  font-size: 28px;
  text-decoration: none;
}

.my-projects {
  color: gray;
  margin-top: none;
  margin-bottom: 20px;
}

.paragraph-sinopsis {
  margin: 20px;
  text-align: justify;
}
